################################################################################
# この .gitignore ファイルは Microsoft(R) Visual Studio によって自動的に作成されました。
################################################################################

/Temp/UnityVS_bin/Debug
/Library
/obj/Debug
